<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add page</title>
</head>
<body>
<div ng-app="mainApp" data-ng-controller="crud_Controller" >
    <div class="" ng-init="init()">
        <!--<div class="col-md-6" ng-style="css_form">
            <form name="myForm">
                <div class="col-md-12 add-form">
                    <h3 class="center  ">Add Employee Details </h3>
                    <hr>
                </div>
                <div class="col-md-12 edit-form">
                    <h3 class="center ">Edit Employee Details </h3>
                    <hr>
                </div>
                <p>&nbsp;</p>
                <div class="col-md-3">
                    <b>First Name :</b>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="app"  ng-model=" EmpModel.Firstname" required ng-init="myVar =false">
                    &lt;!&ndash; <span ng-if="myVar">{{myForm.app.$valid}}</span>&ndash;&gt;
                </div>
                <div class="col-md-3">
                    <b>Last Name :</b>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="app" ng-model=" EmpModel.LastName" required ng-init="myVar =false">
                    &lt;!&ndash; <span ng-if="myVar">{{myForm.app.$valid}}</span>&ndash;&gt;
                </div>
                <p>&nbsp;</p>
                <div class="col-md-3">
                    <b>Email ID :</b>
                </div>
                <div class="col-md-3" ng-pattern="emailFormat">
                    <input type="email" class="form-control"  ng-model=" EmpModel.Emailid" required>
                </div>
                <div class="col-md-3">
                    <b>Phone No :</b>
                </div>
                <div class="col-md-3">
                    <input type="number" class="form-control  "   ng-model=" EmpModel.PhoneNo" required>
                </div>
                <p>&nbsp;</p>
                <div class="col-md-9">
                    <a href="#!table" ng-click="addData()"><button type="submit" class="btn btn-primary add-btn" value=" "  >Add</button></a>
                    <a href="#!table"><button  class="btn btn-info update-btn" value=""  ng-click="updateData()">Update</button></a>
                    &lt;!&ndash;<button type="submit" class="btn btn-primary add-btn" value=" "  ng-click="addData()">Add</button>&ndash;&gt;
                    &lt;!&ndash;<button  class="btn btn-info update-btn" value=""  ng-click="updateData()">Update</button>&ndash;&gt;
                    <button type="submit" class="btn btn-primary cnl-btn" value=" "  ng-click="clearModel()">Cancel</button>
                </div>
            </form>
        </div>-->
        <div class="col-md-6" ng-style="css_form">
            <form name="empForm" novalidate >
                <div class="col-md-12 add-form">
                    <h3 class="center  ">Add Employee Details  </h3>
                    <hr>
                </div>
                <p>&nbsp;</p>
                <div class="col-md-3">
                    <b>First Name :</b>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="firstname"  ng-model=" EmpModel.Firstname" ng-required="true" ng-init="myVar = true"  >
                    <!-- <span ng-if="myVar">{{myForm.app.$valid}}</span>-->
                    <span style = "color:#d9534f" ng-show = "empForm.firstname.$dirty && empForm.firstname.$invalid">
                        <span ng-show = "empForm.firstname.$error.required">First Name is required.</span>
                     </span>
                </div>

                <div class="col-md-3">
                    <b>Last Name :</b>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="lastName" ng-minlength="4" ng-maxlength="10" ng-model=" EmpModel.LastName" ng-init="myVar = false">
                    <!-- <span style="color: red;" ng-show = "empForm.lastname.$dirty && empForm.lastname.$invalid">

                     </span>-->
                    <span style="color: #d9534f ;" ng-show="empForm.lastName.$touched && empForm.lastName.$error.minlength">min 4 chars required.</span>
                    <span ng-show="empForm.lastName.$touched && empForm.lastName.$error.maxlength">Max 10 chars allowed.</span>
                </div>
                <p>&nbsp;</p>
                <div class="col-md-3">
                    <b>Email ID :</b>
                </div>
                <div class="col-md-3" ng-pattern="emailFormat">
                    <input type="email" class="form-control"  ng-model=" EmpModel.Emailid" name="email">
                    <span style="color: #d9534f" ng-show="empForm.email.$touched && empForm.email.$error.email">Please enter valid email id.</span>
                </div>

                <div class="col-md-3">
                    <b>Phone No :</b>
                </div>
                <div class="col-md-3">
                    <input type="number" class="form-control" ng-model=" EmpModel.PhoneNo" ng-minlength="10" ng-maxlength="10" name="number">
                    <span style="color: #d9534f" ng-show="empForm.number.$touched && empForm.number.$error.maxlength">10 digit allowed Only</span>
                    <span style="color: #d9534f" ng-show="empForm.number.$touched && empForm.number.$error.minlength">Enter 10 digit mobile number</span>
                </div>
                <p>&nbsp;</p>
                <div class="col-md-9">

                    <button  type="submit" class="btn btn-primary add-btn addb" value="" ng-click="addData()">Add</button>

                    <!--<a href="#!table"><button  class="btn btn-info update-btn" value=""  ng-click="updateData()">Update</button></a>-->
                   <!-- <button type="submit" class="btn btn-primary add-btn" value=" "  ng-click="addData()"><a href="#!table"></a>Add</button>-->
                   <!-- <button type="submit" class="btn btn-primary cnl-btn" value=" "  ng-click="clearModel()">Cancel</button>
                    <button type="submit" class="btn btn-primary add-btn" value=" "  ng-click="addData()">Add</button>
                    <button  class="btn btn-info update-btn" value=""  ng-click="updateData()">Update</button>
                    <button type="submit" class="btn btn-primary cnl-btn" value=" "  ng-click="clearModel()">Cancel</button>-->
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    location.reload()
</script>
</body>
</html>
<script src="angular.js"></script>
<script src="main.js"></script>
<script src="notify.js"></script>
